body {
    background-color: black;
    margin: auto;
}

.logo {
    color: red;
    font-size: 38px;
     
}
a{
    text-decoration: none;
    color: red;
    }

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;

}

span {
    color: red;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 40px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
    transition: .4s;
}

button {
    border: none;
    background: red;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .5s;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;

}
 
.white-box {
    background-color: white;
    width: 1024px;
    height: 500px;
    text-align: center;
    margin: auto;
    display: grid;
    padding: 3em;
    grid-gap: 2em;
    
    
    
}
.quotes-box {
    background-color: white;
    width: 1024px;
    height: 500px;
    text-align: center;
    margin: auto;
    display: grid;
    padding: 3em;
    grid-gap: 2em;
    
    
    
}

span {
    font-weight: bold;
    position: relative;
    margin-left: 15px;  
}
 

@media (max-width: 1023px) {
    .quotes-box {
      width: 50%;
    }
}
@media (max-width: 1023px) {
    .white-box {
      width: 50%;
    }
}

 

  .quote {
    padding: 2em;
    border-radius: .3em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
  }

  @media (min-width: 550px) {
    .quotes-box {
        grid-template-columns: repeat(2, 1fr);
    }

  }

  @media (min-width: 750px) {
    .quotes-box {
        grid-template-columns: repeat(3, 1fr);
    }

  }

  @media (min-width: 950px) {
    .quotes-box {
        grid-template-columns: repeat(3, 1fr);
    }

  }
  
